@"
# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Dataset
data/PlantVillage/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment / secrets
.env
.env.*

# Temporary files
*.tmp
*.temp
*.log
"@ | Set-Content .gitignore